body {
  background: #dddddd !important;
}
.topNavigation {
  margin: 0 0 10px 0;
  padding: 10px 0;
  background: #eeeeee;
}
.companyLogo {
  width: 100px;
  height: 80px;
}

.searchStoreWrap {
  border: solid 5px #000000;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  background: #ffffff;
}

.searchStoreWrap input {
  margin: 0 20px;
  padding: 5px;
}

.navigation {
  padding: 25px 0 0 0;
}
