.App {
  text-align: center;
}
.container {
  width: 1140px;
  margin: 0 auto;
  text-align: left;
}
h1 {
  margin: 0;
}
.navigation {
  display: flex;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.navWrap {
  display: flex;
  justify-content: space-around;
}
.navWrap a {
  color: #fff;
  text-decoration: none;
}
h1 {
  color: #746cef;
  margin: 50px 0;
}
h1 img {
  height: 50px;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
