@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
}


/* Start Game Component styles starts */

.diceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diceImg {
  width: 650px;
}
.diceTextBtnWrap {
  width: 530px;
  text-align: right;
}
.diceTextBtnWrap h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
}
/* Start Game Component styles ends */

.totalSelectNumWrap {
  display: flex;
  justify-content: space-between;
}

.selectNumWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.selectNumWrap ul li {
  width: 72px;
  height: 72px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
}
.selectNumWrap .selectedClass {
  background-color: #000;
  color: #fff;
}

.selectNumWrap p {
  font-weight: 700;
  text-transform: uppercase;
}
.error {
  color: red;
}
.diceImgWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice {
  cursor: pointer;
}
.rulesResetWrap .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rulesDiceGame {
  padding: 15px;
  background: #FBF1F1;
}

.rulesDiceGame p {
  font-size: 13px;
  margin-bottom: 3px;
}

/* Responsive style */
@media only screen and (max-width: 767px) {
  .diceGameWrapper {
    display: flex;
    flex-direction: column;
  }
  .diceTextBtnWrap {
    width: 100%;
    text-align: center;
  }
}