.appHeader {
  text-align: center;
  background-color: blueviolet;
  color: #fff;
  padding: 10px;
}

.appHeader h2 {
  margin: 0;
}

.counterWrap {
  text-align: center;
}

.counterWrap button {
  background-color: brown;
  padding: 5px;
  border: solid 1px #ddd;
  margin: 0 10px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
