.movieWrap {
  background-color: darkgrey;
  padding: 10px;
  border: solid 1px #000;
  width: 200px;
  font-size: 14px;
}
.movieWrap p {
  margin: 5px 0 0;
}
.movieWrap h3 {
  margin: 0;
}
.header {
  background-color: rgb(122, 3, 122);
  color: #fff;
  padding: 10px;
  text-align: center;
}
.header h2 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
ul li {
  display: flex;
  padding: 10px;
}
.moviePoster {
  width: 200px;
  height: 268px;
}

.moviePoster img {
  width: 100%;
  height: 100%;
}